.jumbotron {
    background-image: url("./resources/BizGen Solutions cover 2.jpg");
    
    background-size: cover;
    border-radius: 0 !important;
    border: 2px solid black;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

.imageCenter {
  height:10em; width: 10em; float: none;
  margin-left: auto;
  margin-right: auto
}

.imageCenterLarge {
  height:20em; width: 20em; float: none;
  margin-left: auto;
  margin-right: auto
}

.invis {
  display: none;
}

.contentBlock {
  max-height: 23em;
  min-height: 23em;
  border-radius: 0 !important; 
  border: 2px solid black;

  color: black;
  margin:1em;
}

.fancyBlock {
  color:white;  padding:0.5em; text-align: left; margin-top: 10em;
}

.nav-size {
  font-size: 24px;
}