.jumbotron {
    background-image: url("./resources/BizGen Solutions cover 2.jpg");
    
    background-size: cover;
}

.imageCenter {
  height:10em; width: 10em; float: none;
  margin-left: auto;
  margin-right: auto
}

.imageCenterLarge {
  height:20em; width: 20em; float: none;
  margin-left: auto;
  margin-right: auto
}

.invis {
  display: none;
}